In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('geocodes.csv')

In [3]:
df.head()

,original name (in my dataset),location (according to LocalFocus),latitude,longitude,confidence
0,"Nokia Research, Finland","Nokiankatu, Turku, Finland",60.435896,22.250982,doubt
1,"Northwestern Polytechnical University, China","university, Shijiazhuang, China",38.018186,114.525569,doubt
2,"University of Paderborn, Germany","Paderborn, Germany",51.718539,8.740642,doubt
3,"Georgia Institute of Technology, USA",Georgia Institute of Technology Branch Post Of...,33.773691,-84.398582,doubt
4,"Stanford University, USA","University, Cleveland, OH, USA",41.513101,-81.607469,doubt

## Fixing Commas

The latitude and longitude came with commas instead of decimal points, and this excel formatted all the numbers with commas in the thousands places.

Following code is to remove the commas and convert the "first" comma to decimal points, as is used for lat long

In [38]:
def fix_commas(row):
    lat = row['latitude']
    long = row['longitude']
    
    if lat.count(',') == 2:
        row['latitude'] = row['latitude'].replace(',', '.', 1)
        row['latitude'] = row['latitude'].replace(',', '')
    elif lat.count(',') == 1:
        row['latitude'] = row['latitude'].replace(',', '.')
    
    if long.count(',') == 2:
        row['longitude'] = row['longitude'].replace(',', '.', 1)
        row['longitude'] = row['longitude'].replace(',', '')
    elif long.count(',') == 1:
        row['longitude'] = row['longitude'].replace(',', '.')
    
    return row

In [39]:
len(df)

21687

In [47]:
df.apply(fix_commas, axis=1)

,original name (in my dataset),location (according to LocalFocus),latitude,longitude,confidence
0,"Nokia Research, Finland","Nokiankatu, Turku, Finland",60.435896,22.250982,doubt
1,"Northwestern Polytechnical University, China","university, Shijiazhuang, China",38.018186,114.525569,doubt
2,"University of Paderborn, Germany","Paderborn, Germany",51.718539,8.740642,doubt
3,"Georgia Institute of Technology, USA",Georgia Institute of Technology Branch Post Of...,33.773691,-84.398582,doubt
4,"Stanford University, USA","University, Cleveland, OH, USA",41.513101,-81.607469,doubt
...,...,...,...,...,...
21682,"Brno University of Technology, Department of C...","Zhejiang university of technology, China",3.022792,12.003306,doubt
21683,"Institute of Geodesy and Geophysics, State Key...","Hawaii Institute of Geophysics, Urban Honolulu...",21.298205,-157.816421,success
21684,"Florida International University, FL",Florida International University Brickell Camp...,25.763139,-80.190988,doubt
21685,Aisin AW,"AISIN, Panama",8.438636,-82.421868,success
21686,Toyota Technological Institute,"Toyota Technological Institute, Near South Sid...",41.784677,-87.592655,success

In [49]:
# save it
df.to_csv('geocodes.csv', index=False)

In [4]:
df.head()

,original name (in my dataset),location (according to LocalFocus),latitude,longitude,confidence
0,"Nokia Research, Finland","Nokiankatu, Turku, Finland",60.435896,22.250982,doubt
1,"Northwestern Polytechnical University, China","university, Shijiazhuang, China",38.018186,114.525569,doubt
2,"University of Paderborn, Germany","Paderborn, Germany",51.718539,8.740642,doubt
3,"Georgia Institute of Technology, USA",Georgia Institute of Technology Branch Post Of...,33.773691,-84.398582,doubt
4,"Stanford University, USA","University, Cleveland, OH, USA",41.513101,-81.607469,doubt

## Top Ten

Need to make sure that the top 10 universities have legit rankings.

top 10 (from https://www.topuniversities.com/university-rankings/university-subject-rankings/2019/computer-science-information-systems)

- MIT
- Stanford
- Carnegie Mellon
- UC Berkeley
- Cambridge
- Oxford
- Harvard
- EPFL
- ETH Zurich
- NUS

In [149]:
top_ten = [
    'Massachusetts Institute of Technology',
    'Stanford University',
    'Carnegie Mellon',
    'University of California, Berkeley',
    'University of Cambridge, UK',
    'Oxford University',
    'Harvard Univesity',
    'EPFL',
    'ETH',
    'National University of Singapore'
]

In [150]:
# Check if the name is enough to identify the university
for uni in top_ten:
    print(f'{uni}: {len(df[df[df.columns[0]].str.contains(uni)])}')

Massachusetts Institute of Technology: 1
Stanford University: 1
Carnegie Mellon: 1
University of California, Berkeley: 1
Cambridge University: 2
Oxford University: 8
Harvard Univesity: 0
EPFL: 26
ETH: 18
National University of Singapore: 1

In [160]:
df[df[df.columns[0]].str.contains('University of Oxford')]

,original name (in my dataset),location (according to LocalFocus),latitude,longitude,confidence
193,"University of Oxford, UK","The University of Oxford Shop, Oxford, England...",51.752333,-1.254276,doubt

In [35]:
df[df[df.columns[0]].str.contains('Oxford University')]

,original name (in my dataset),location (according to LocalFocus),latitude,longitude,confidence
2643,Oxford University,"Oxford University Press, Oxford, England, Unit...",51.758024,-1.265234,doubt
2878,"Oxford University, UK","Oxford University Press, Oxford, England, Unit...",51.758024,-1.265234,doubt
4558,"Oxford University, Department of Computer Science","Oxford University Press, Oxford, England, Unit...",51.758024,-1.265234,doubt
8336,"Oxford University Clinical Research Unit, Ho C...","Saigon International University, Vietnam",10.845072,106.772435,doubt
16458,"Oxford University, Mobile Robotics Group","Oxford University Press, Oxford, England, Unit...",51.758024,-1.265234,doubt
17165,"Oxford University, Computing Laboratory","Oxford University Press, Oxford, England, Unit...",51.758024,-1.265234,doubt
18459,"Oxford University, Department of Engineering S...","Oxford University Press, Oxford, England, Unit...",51.758024,-1.265234,doubt
20392,"Oxford University, Environmental Change Instit...","Oxford University Press, Oxford, England, Unit...",51.758024,-1.265234,doubt

Looking at the multiple entries for Cambridge, Oxford, EPFL, and ETH, i will have to aggregate these different university names in the main data base.

The names will be changed to "University of Cambridge, UK" "Oxford University, UK", "EPFL, Switzerland", and "ETH, Switzerland". <- thus, we just have to make sure these names exist in the geocodes csv.

In [43]:
# EPFL
df.loc[140][0] = 'EPFL, Switzerland'

# ETH
df.loc[255][0] = 'ETH, Switzerland'

In [44]:
print(df.loc[140])
print(df.loc[255])

original name (in my dataset)                   EPFL, Switzerland
location (according to LocalFocus)    EPFL, Lausanne, Switzerland
latitude                                                46.522004
longitude                                                6.566902
confidence                                                success
Name: 140, dtype: object
original name (in my dataset)                      ETH, Switzerland
location (according to LocalFocus)    Canton of Zurich, Switzerland
latitude                                                  47.390129
longitude                                                     8.661
confidence                                                    doubt
Name: 255, dtype: object

In [163]:
# new top ten
top_ten = [
    'Massachusetts Institute of Technology, USA',
    'Stanford University, USA',
    'Carnegie Mellon University, USA',
    'University of California, Berkeley, USA',
    'University of Cambridge, UK',
    'University of Oxford, UK',
    'Harvard University, USA',
    'EPFL, Switzerland',
    'ETH, Switzerland',
    'National University of Singapore, Singapore'
]

In [164]:
# Check if the name is enough to identify the university
for uni in top_ten:
    print(f'{uni}: {len(df[df[df.columns[0]].str.contains(uni)])}')

Massachusetts Institute of Technology, USA: 1
Stanford University, USA: 1
Carnegie Mellon University, USA: 1
University of California, Berkeley, USA: 1
University of Cambridge, UK: 1
University of Oxford, UK: 1
Harvard University, USA: 1
EPFL, Switzerland: 1
ETH, Switzerland: 1
National University of Singapore, Singapore: 1

In [59]:
# two copies of EPFL, Switzerland
# row dropped.
# df = df.drop(3755)

In [165]:
for uni in top_ten:
    idx = df[df[df.columns[0]].str.contains(uni)].index.item()
    if df.loc[idx]['confidence'] != 'success': print(uni)

University of Cambridge, UK
University of Oxford, UK

In [166]:
# lat longs
stanford_ll = ('37.4241', '-122.1661')
berk_ll = ('37.8719', '-122.2585')
oxford_ll = ('51.7548', '-1.2544')
eth_ll = ('47.3763', '8.5477')
cambridge_ll = ('52.2053', '0.1218')

In [73]:
idx = df[df[df.columns[0]].str.contains('Stanford University, USA')].index.item()
df.loc[idx]['latitude'] = stanford_ll[0]
df.loc[idx]['longitude'] = stanford_ll[1]
df.loc[idx]['confidence'] = 'success'

In [74]:
idx = df[df[df.columns[0]].str.contains('University of California, Berkeley, USA')].index.item()
df.loc[idx]['latitude'] = berk_ll[0]
df.loc[idx]['longitude'] = berk_ll[1]
df.loc[idx]['confidence'] = 'success'

In [167]:
idx = df[df[df.columns[0]].str.contains('University of Oxford, UK')].index.item()
df.loc[idx]['latitude'] = oxford_ll[0]
df.loc[idx]['longitude'] = oxford_ll[1]
df.loc[idx]['confidence'] = 'success'

In [76]:
idx = df[df[df.columns[0]].str.contains('ETH, Switzerland')].index.item()
df.loc[idx]['latitude'] = eth_ll[0]
df.loc[idx]['longitude'] = eth_ll[1]
df.loc[idx]['confidence'] = 'success'

In [168]:
idx = df[df[df.columns[0]].str.contains('University of Cambridge, UK')].index.item()
df.loc[idx]['latitude'] = cambridge_ll[0]
df.loc[idx]['longitude'] = cambridge_ll[1]
df.loc[idx]['confidence'] = 'success'

In [169]:
# save
df.to_csv('geocodes.csv', index=False)

In [170]:
del df

### Fix names in main dataset

In [171]:
df = pd.read_csv('author_aff_rank.csv')

In [85]:
# to fix: "University of Oxford, UK", "University of Cambridgem UK", 'Harvard University', "EPFL, Switzerland", and "ETH, Switzerland".
df[df['affiliation'].str.contains('Oxford University')].head()

,pid,affiliation,rank
123059,43/2474-9,Oxford University,1000
142320,94/5818,"Oxford University, UK",1000
276018,s/ChristianSchallhart,"Oxford University, Department of Computer Science",1000
378950,182/9569,"Oxford University, UK",1000
386439,49/4978,"Oxford University, UK",1000

In [86]:
df[df['affiliation'].str.contains('Oxford')].head()

              pid               affiliation  rank
4978      31/9772  University of Oxford, UK     5
7444      31/2621  University of Oxford, UK     5
16868    134/4822  University of Oxford, UK     5
31429     02/1891  University of Oxford, UK     5
37221  02/10797-4  University of Oxford, UK     5

will change "university of oxford" to "Oxford University, UK".

In [87]:
df['affiliation'][df.affiliation.str.contains('Oxford University')] = 'Oxford University, UK'
df['affiliation'][df.affiliation.str.contains('University of Oxford, UK')] = 'Oxford University, UK'

<ipython-input-87-0f8334257f7f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['affiliation'][df.affiliation.str.contains('Oxford University')] = 'Oxford University, UK'
<ipython-input-87-0f8334257f7f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['affiliation'][df.affiliation.str.contains('University of Oxford, UK')] = 'Oxford University, UK'

In [172]:
# change of name format
df.loc[df['affiliation'].str.contains('Oxford University, UK'),'affiliation'] = 'University of Oxford, UK'

In [184]:
# set rank
df.loc[df.affiliation.str.contains('University of Oxford, UK'), 'rank'] = 6

In [198]:
df.loc[df['affiliation'].str.contains('MIT') & df['affiliation'].str.contains('Cambridge'),'affiliation'] = 'Massachusetts Institute of Technology, USA'

In [201]:
df.loc[df.affiliation.str.contains('Massachusetts Institute of Technology, USA'), 'rank'] = 1

In [180]:
df.loc[df['affiliation'].str.contains('Cambridge University'),'affiliation'] = 'University of Cambridge, UK'

In [185]:
# set rank
df.loc[df.affiliation.str.contains('University of Cambridge, UK'), 'rank'] = 5

In [188]:
df.loc[df['affiliation'].str.contains('Harvard University'),'affiliation'] = 'Harvard University, USA'

In [191]:
# set rank
df.loc[df.affiliation.str.contains('Harvard University'), 'rank'] = 7

In [109]:
df.loc[df['affiliation'].str.contains('EPFL'),'affiliation'] = 'EPFL, Switzerland'

In [110]:
# set rank
df.loc[df.affiliation.str.contains('EPFL, Switzerland'), 'rank'] = 8

In [114]:
df.loc[df['affiliation'].str.contains('ETH'),'affiliation'] = 'ETH, Switzerland'
df.loc[df.affiliation.str.contains('EPFL, Switzerland'), 'rank'] = 9

In [213]:
# save
df.to_csv('author_aff_rank.csv', index=False)

In [214]:
del df

## Calculating distances from top 10

In [ ]:
import pandas as pd

In [215]:
import geopy

In [216]:
from geopy import distance

In [217]:
df = pd.read_csv('geocodes.csv')

In [274]:
top_ten

['Massachusetts Institute of Technology, USA',
 'Stanford University, USA',
 'Carnegie Mellon University, USA',
 'University of California, Berkeley, USA',
 'University of Cambridge, UK',
 'University of Oxford, UK',
 'Harvard University, USA',
 'EPFL, Switzerland',
 'ETH, Switzerland',
 'National University of Singapore, Singapore']

In [141]:
df[df[df.columns[0]].str.contains('Oxford University, UK')]['latitude']

2878    51.7548
Name: latitude, dtype: object

In [275]:
top_ten_coordinates = []
for uni in top_ten:
    row = df[df[df.columns[0]].str.contains(uni)]
    lat = row['latitude'].item()
    long = row['longitude'].item()
    top_ten_coordinates.append((lat, long))

In [276]:
top_ten_coordinates

[('42.365681', '-71.090125'),
 ('37.4241', '-122.1661'),
 ('40.4442', '-79.942808'),
 ('37.8719', '-122.2585'),
 ('52.2053', '0.1218'),
 ('51.7548', '-1.2544'),
 ('42.363233', '-71.124656'),
 ('46.522004', '6.566902'),
 ('47.3763', '8.5477'),
 ('1.295067', '103.776325')]

In [277]:
distance.distance(top_ten_coordinates[2], top_ten_coordinates[3]).km

3633.6291755959246

for every entry in geocodes.py, we want to calculate its distance to all of the top ten universities, and save the smallest.

**Do not calculate distance for the coordinates with "doubted" lat longs.**

In [295]:
def dist_to_top_ten(row):
    if row['confidence'] != 'success':
        row['Distance to Top Ten'] = 'NA'
        return row
    current_coord = (row['latitude'], row['longitude'])
    temp = []
    for tt_coord in top_ten_coordinates:
        temp.append(distance.distance(current_coord, tt_coord).km)
    row['Distance to Top Ten'] = min(temp)
    return row

In [299]:
df.apply(dist_to_top_ten, axis=1)

/Users/QuekYufei/.virtualenvs/network_science_p1/lib/python3.8/site-packages/geopy/point.py:405: UserWarning: Latitude normalization has been prohibited in the newer versions of geopy, because the normalized value happened to be on a different pole, which is probably not what was meant. If you pass coordinates as positional args, please make sure that the order is (latitude, longitude) or (y, x) in Cartesian terms.
  return cls(*args)

ValueError: Latitude must be in the [-90; 90] range.

### Invalid Lat Longs

The issue with commas earlier has lead to some more coordinates being messed up.

e.g. the coordinate might be 6,52312 but was changed to 652,312 by excel

might have missed some coordinates that were like 64,32 -> 6,432

In [304]:
def check_lat(row):
    if row['confidence'] != 'success':
        row['check'] = 'valid'
        return row
    lat = float(row['latitude'])
    if lat > 90 or lat < -90:
        row['check'] = 'invalid'
    else:
        row['check'] = 'valid'
    return row

In [305]:
df1 = df.copy()

In [310]:
df1['check'] = 'init'
df1.apply(check_lat, axis=1)

,original name (in my dataset),location (according to LocalFocus),latitude,longitude,confidence,check
0,"Nokia Research, Finland","Nokiankatu, Turku, Finland",60.435896,22.250982,doubt,valid
1,"Northwestern Polytechnical University, China","university, Shijiazhuang, China",38.018186,114.525569,doubt,valid
2,"University of Paderborn, Germany","Paderborn, Germany",51.718539,8.740642,doubt,valid
3,"Georgia Institute of Technology, USA",Georgia Institute of Technology Branch Post Of...,33.773691,-84.398582,doubt,valid
4,"Stanford University, USA","University, Cleveland, OH, USA",37.4241,-122.1661,success,valid
...,...,...,...,...,...,...
21681,"Brno University of Technology, Department of C...","Zhejiang university of technology, China",3.022792,12.003306,doubt,valid
21682,"Institute of Geodesy and Geophysics, State Key...","Hawaii Institute of Geophysics, Urban Honolulu...",21.298205,-157.816421,success,valid
21683,"Florida International University, FL",Florida International University Brickell Camp...,25.763139,-80.190988,doubt,valid
21684,Aisin AW,"AISIN, Panama",8.438636,-82.421868,success,valid
21685,Toyota Technological Institute,"Toyota Technological Institute, Near South Sid...",41.784677,-87.592655,success,valid

In [313]:
df1[df1.check.str.contains('invalid')]

,original name (in my dataset),location (according to LocalFocus),latitude,longitude,confidence,check
1172,"Universiti Teknikal Malaysia Melaka, Malaysia","Universiti Utara Malaysia, Sintok, Malaysia",645.853,10.050566,success,invalid
1175,"University of Minas Gerais, Brazil","Imprensa Oficial de Minas Gerais, Belo Horizon...",-199.238,-43.939326,success,invalid
1650,"University Of Massachusetts Amherst, Departmen...","University of Massachusetts Amherst, Amherst C...",423.904,-72.525325,success,invalid
1698,"Massachusetts General Hospital, Harvard Medica...","Vibra Hospital of Western Massachusetts, Sprin...",421.205,-72.548076,success,invalid
2292,"Montana State University, USA","Montana State University, Bozeman, MT, USA",456.706,-111.065784,success,invalid
...,...,...,...,...,...,...
20849,"Data Storage Institute, A-STAR, Singapore","Data Storage Institute (DSI), Singapore, Singa...",129.921,103.772988,success,invalid
21263,"Compiegne University of Technology, France","University of Technology of CompiÃ¨gne, CompiÃ¨g...",494.148,281.683,success,invalid
21393,"National Institute of Technology, Kurukshetra","National Institute of Technology Kurukshetra, ...",299.462,76.814719,success,invalid
21415,"Fraunhofer Portugal, Porto, Portugal","Portugal, Brazil",-163.099,-45.238705,success,invalid
21672,University of Technology of Belfort-Montbliard...,"University of Technology of CompiÃ¨gne, CompiÃ¨g...",494.148,281.683,success,invalid

Would be too time consuming to re-collect all the coordinate data. Will ignore all the invalid entries for now.

In [315]:
def check_lat_change_confidence(row):
    if row['confidence'] != 'success':
        return row
    lat = float(row['latitude'])
    if lat > 90 or lat < -90:
        row['confidence'] = 'invalid'
    return row

In [316]:
df.apply(check_lat_change_confidence, axis=1)

,original name (in my dataset),location (according to LocalFocus),latitude,longitude,confidence
0,"Nokia Research, Finland","Nokiankatu, Turku, Finland",60.435896,22.250982,doubt
1,"Northwestern Polytechnical University, China","university, Shijiazhuang, China",38.018186,114.525569,doubt
2,"University of Paderborn, Germany","Paderborn, Germany",51.718539,8.740642,doubt
3,"Georgia Institute of Technology, USA",Georgia Institute of Technology Branch Post Of...,33.773691,-84.398582,doubt
4,"Stanford University, USA","University, Cleveland, OH, USA",37.4241,-122.1661,success
...,...,...,...,...,...
21681,"Brno University of Technology, Department of C...","Zhejiang university of technology, China",3.022792,12.003306,doubt
21682,"Institute of Geodesy and Geophysics, State Key...","Hawaii Institute of Geophysics, Urban Honolulu...",21.298205,-157.816421,success
21683,"Florida International University, FL",Florida International University Brickell Camp...,25.763139,-80.190988,doubt
21684,Aisin AW,"AISIN, Panama",8.438636,-82.421868,success
21685,Toyota Technological Institute,"Toyota Technological Institute, Near South Sid...",41.784677,-87.592655,success

In [317]:
df.confidence.value_counts()

doubt      9643
success    9452
failed     2465
invalid     126
Name: confidence, dtype: int64

___

In [325]:
def dist_to_top_ten(row):
    if row['confidence'] != 'success':
        return row
    current_coord = (row['latitude'], row['longitude'])
    temp = []
    for tt_coord in top_ten_coordinates:
        temp.append(distance.distance(current_coord, tt_coord).km)
    row['Distance to Top Ten'] = min(temp)
    return row

In [323]:
df['Distance to Top Ten'] = 'NA'

In [326]:
df.apply(dist_to_top_ten, axis=1)

,original name (in my dataset),location (according to LocalFocus),latitude,longitude,confidence,Distance to Top Ten
0,"Nokia Research, Finland","Nokiankatu, Turku, Finland",60.435896,22.250982,doubt,NA
1,"Northwestern Polytechnical University, China","university, Shijiazhuang, China",38.018186,114.525569,doubt,NA
2,"University of Paderborn, Germany","Paderborn, Germany",51.718539,8.740642,doubt,NA
3,"Georgia Institute of Technology, USA",Georgia Institute of Technology Branch Post Of...,33.773691,-84.398582,doubt,NA
4,"Stanford University, USA","University, Cleveland, OH, USA",37.4241,-122.1661,success,0
...,...,...,...,...,...,...
21681,"Brno University of Technology, Department of C...","Zhejiang university of technology, China",3.022792,12.003306,doubt,NA
21682,"Institute of Geodesy and Geophysics, State Key...","Hawaii Institute of Geophysics, Urban Honolulu...",21.298205,-157.816421,success,3863.47
21683,"Florida International University, FL",Florida International University Brickell Camp...,25.763139,-80.190988,doubt,NA
21684,Aisin AW,"AISIN, Panama",8.438636,-82.421868,success,3554.21
21685,Toyota Technological Institute,"Toyota Technological Institute, Near South Sid...",41.784677,-87.592655,success,659.279

In [329]:
df.to_csv('geocodes.csv', index=False)